.button {
  background: var(--colorSecundary);
  color: var(--white);
  font: var(--button);
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 13px;
  padding-block-end: 13px;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  text-align: center;
  box-shadow: 7px 5px 4px 1px #969696;
  transition: background 0.5s, border 0.5s, box-shadow 0.3s ease-in-out 0s;
}
.button:hover{
  background: #36CC7C;
  box-shadow: 7px 5px 4px 1px #36cc7c62;
}
.button.is-secondary {
  background: unset;
  color: var(--colorSecundary);
  border: 2px solid var(--colorSecundary);
}
.button.is-secondary:hover{
  border: 2px solid #36CC7C;
}