.button-icon {
  padding: 10px;
  border-radius: 4px;
  background: var(--white);
  border: 2px solid var(--black);
  text-decoration: none;
  display: inline-block;
  transition: box-shadow 0.2s;
}
.button-icon img {
  vertical-align: middle;
}

.button-icon.git:hover{
  box-shadow: 0px 0px 10px 5px #E84E31;
}
.button-icon.linkedin:hover{
  box-shadow: 0px 0px 10px 5px #0270AD;
}
.button-icon.facebook:hover{
  box-shadow: 0px 0px 10px 5px #1a74ea83;
}