.hero  {
  padding-block-start: 16px;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-information{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #CBE2F3;
  padding: 1.8rem 2.5rem 1.8rem 2.5rem;
  border-radius: 1.68rem;
  /*margin-top: ;*/
}

.hero-information p{
  margin: 0;
}

.hero-image {
  text-align: center;
}
.hero-image img{
  width: 258px; 
  height:250px;
}

.hero-image img {
  max-inline-size: 100%;
  block-size: auto;
}

.hero-title{
  margin: 0 auto;
  text-align: right;
}

.hero-title h1{
  font: var(--headline1);
  color: var(--white);
  margin: 0;
}
/* .hero h1 span:nth-of-type(1) { */
.hero-title span {
  font: var(--headline2);
  text-align: right;
  color: black;
}

@media screen and (min-width: 768px) {
  .site-header{
    display: flex;
    flex-direction: column;
  }
  .hero {
    display: flex;
    gap: 32px;
    
  }
  .hero-image{
    flex-basis: calc(50% - 10px);
  }
  .hero-image img{
    width: 100%;
  }
  .hero-description {
    order: 1;
    max-inline-size: 450px;
    flex-basis: calc(50% - 10px);
  }
  .hero-image {
    order: 2;
    text-align: end;
    flex: 1;
  }



}

@media screen and (min-width: 1024px) {
  .hero-image img {
    inline-size: 500px;
    block-size: 504px;
  }
}